
{% extends 'base.html' %}

    {% block content %}
    <div class="page-content admin-messages-page">
    <h2 class="mb-4">Contact Messages</h2>

<table class="table table-bordered">

<thead class="table-dark">
<tr>
<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Message</th>
<th>Phone</th>
<th>Status</th>
<th>Action</th>
</tr>
</thead>

<tbody>

{% for msg in messages %}

<tr>

<td>{{ msg.id }}</td>
<td>{{ msg.name}}</td>
<td>{{ msg.email }}</td>
<td>{{ msg.message }}</td>
<td>{{ msg.phone }}</td>
<td>
  {% if msg.is_read == 0 %}
    <span class="badge bg-danger">Unread</span>
  {% else %}
    <span class="badge bg-success">Read</span>
  {% endif %}
</td>
<td>  
<form method="POST" action="/delete_message/{{ msg.id }}" class="d-inline">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <button type="submit"
          class="btn btn-outline-danger btn-sm me-2"
          title="Delete">
    <i class="bi bi-trash"></i>
  </button>
</form>
{% if msg[5] == 0 %}
<form method="POST" action="/mark-read/{{ msg.id }}" class="d-inline">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <button type="submit"
          class="btn btn-outline-success btn-sm me-2"
          title="Mark as Read">
    <i class="bi bi-check-circle"></i>
  </button>
</form>
{% endif %}
</td>

</tr>

{% endfor %}

</tbody>

</table>

        
    </div>
    {% endblock %}
    
