
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaxmiPrint</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light navbar-laxmi shadow-sm sticky-top px-3">

      <a class="navbar-brand d-flex align-items-center gap-2 m-0" href="/">
  <img src="{{ url_for('static', filename='uploads/logofinal-removebg-preview.png') }}?v=1" alt="LaxmiPrint Logo" class="brand-logo">
  
</a>
<div class="ms-auto nav-links-wrap">
  <a class="nav-link" href="/">Home</a>
  <a class="nav-link" href="/products">Products</a>
  <a class="nav-link" href="/about">About</a>
  <a class="nav-link" href="/contact">Contact</a>

  <div class="dropdown">
    <button class="btn text-dark p-0 border-0 bg-transparent ms-2"
            type="button"
            id="adminMenu"
            data-bs-toggle="dropdown"
            aria-expanded="false">
      <i class="bi bi-three-dots-vertical fs-5"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="adminMenu">
      {% if session.get('admin') %}
        <li><a class="dropdown-item" href="/admin">Admin Panel</a></li>
        <li><a class="dropdown-item" href="/logout">Logout</a></li>
      {% else %}
        <li><a class="dropdown-item" href="/login">Login</a></li>
      {% endif %}
    </ul>
  </div>
</div>
</nav>
<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

<footer class="footer mt-5 footer-laxmi">

<div class="container">

<div class="row">

<div class="col-md-4">
<h5>LaxmiDigitalPrint</h5>
<p>
High quality printing services for visiting cards,
banners, flyers and more.
</p>
</div>

<div class="col-md-4">
<h5>Quick Links</h5>
<ul class="list-unstyled">
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/products">Products</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</div>

<div class="col-md-4">
<h5>Contact Us</h5>
<div class="contact-info">

<p>
<i class="bi bi-geo-alt-fill me-2 text-danger"></i>
Shubh Ranjani Co Housing Society, Flat No C9, Sector 3, Airoli, Navi Mumbai 400708
</p>

<p>
<i class="bi bi-telephone-fill me-2 text-success"></i>
+91 9702115408 / 7710977432 / 8169265622
</p>

<p>
<i class="bi bi-envelope-fill me-2 text-primary"></i>
printwork.laxmi@gmail.com
</p>

</div>
</div>

</div>

<hr>

<div class="text-center">
<p class="mb-0">© 2026 LaxmiPrint. All Rights Reserved.</p>
</div>

</div>

</footer>
{% block scripts %}{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>