{% extends 'base.html' %}

{% block content %}
<h2>Edit Product</h2>

<form method="POST" enctype="multipart/form-data">

    <input type="text"
           name="name"
           class="form-control mb-2"
           value="{{ product.name }}"
           required>

    <textarea name="description"
              class="form-control mb-2"
              required>{{ product.description }}</textarea>

    <textarea name="specifications"
          class="form-control mb-2"
          placeholder="Specifications">{{ product.specifications }}</textarea>


    <input type="text"
       name="price"
       class="form-control mb-2"
       placeholder="Price"
       value="{{product.price}}">

    <label>Current Image:</label><br>
    <img src="{{ url_for('static', filename='uploads/' + product.image) }}?v=1"
         width="150"
         class="mb-3">

    <input type="file"
           name="image"
           class="form-control mb-2">

    <button class="btn btn-dark">Update</button>

</form>

{% endblock %}

    